backup/*
var/*
media/*
app/etc/local.xml
app/etc/config.xml
import/*
export/*
robots.txt
googlea597a821184dd7f5.html
downloader/
includes/
*.zip
gsitemap_ks8024/*.xml
.DS_Store
app/code/local/Aitoc/Aitsys/install/*
feeds/*
.idea/

